<%= form_for @project, remote: true do |f| %>
<div class="row">
  <div class="col-xs-12">
    <div class="input-group input-group-lg">
      <%= f.text_field :name, placeholder: "Enter Project name",
                              autofocus: true, class: "form-control",
                              validate: true  %>
      <div class="input-group-btn">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>