<div class="row">
  <div class="col-md-6 col-md-offset-3" id="all_projects" data-update-url="<%= sort_projects_url %>">
    <%= render @projects %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="new-project">
      <%= link_to new_project_path, class: "btn btn-primary btn-lg",
                                    id: "new_link", remote: true do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add TODO List
      <% end%>
    </div>
  </div>
</div>