<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @projects.each do |project| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <%= project.name %>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>