body {
  background: url('https://dl.dropboxusercontent.com/u/486403/web/rails/bg3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7em;
}

h2 {
  text-align: center;
}

.notify {
  position: fixed;
  top: 1em;
  right: 1em;
}

.profile {
  position: absolute;
  padding: 4px;
  top: 0;
  left: 0;
  p {
    margin: 0;
  }
}

.panel-heading {
  font-size: 1.3em;
}

.div-project-name {
  display:inline;
}

.div-project-options {
  display: none;
  float: right;
  a {
    color: #fff;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

.panel-heading:hover .div-project-options {
  display: inline;
}

.new-task {
  padding: 3px;
}

.new-project {
  text-align: center;
  padding-bottom: 20px;
}

.task .div-options {
   display: none;
   float: right;
   font-size: 1.2em;
   a:hover {
     text-decoration: none;
   }
}

.task:hover {
    background-color: #f5f5f5;
}

.task:hover .div-options {
  display: inline;
}

input[type='checkbox'] {
  vertical-align: top;
}

.form-link {
  text-align: right;
}

.task-label {
  font-weight: normal;
  max-width: 76%;
}

.complete {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}

.div-check {
  display: inline;
  padding: 0 10px 5px 3px;
}

.div-label {
  display: inline;
  padding: 0 0 0 5px;
}

#complete_tasks {
  display: none;
}
