@import "bootstrap";

body {
  background: url('https://dl.dropboxusercontent.com/u/486403/web/rails/bg3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7em;
}

h2 {
  text-align: center;
}

.profile {
  position: absolute;
  padding: 4px;
  top: 0;
  left: 0;
  p {
    margin: 0;
  }
}

.panel-heading {
  font-size: 1.3em;
}

.div-project-name {
  display:inline;
}

.div-project-options {
  display: none;
  float: right;
  a {
    color: #fff;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

.panel-heading:hover .div-project-options {
  display: inline;
}

.new-task {
  padding: 3px;
}

.new-project {
  text-align: center;
  padding-bottom: 40px;
}

.task .div-options {
   display: none;
   float: right;
   font-size: 1.2em;
   a:hover {
     text-decoration: none;
   }
}

.task:hover {
    background-color: #fbfed7;
}

.task:hover .div-options {
  display: inline;
}

input[type='checkbox'] {
  vertical-align: top;
}

.form-link {
  font-size: 1.2em;
  text-align: right;
}

.task-label {
  max-width: 76%;
  font-weight: normal;
}

.complete {
  text-decoration: line-through;
}

.incomplete {
  text-decoration: none;
}

.div-check {
  display: inline;
  padding: 0 10px 5px 3px;
}

.div-label {
  display: inline;
  padding: 0 0 0 5px;
}

.incomplete_tasks .handle {
  cursor: move;
}

.complete_tasks {
  display: none;
}

.datepicker {
  display: inline;
}

.best_in_place input {
  width: 250%;
}

.best_in_place input[name="deadline"] {
  width: 150px;
}

.best_in_place span {
  max-width: 70%;
}

.div-project-name .best_in_place input {
  color: #3a7ab5;
  width: 70%;
}

.purr {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  padding: 20px;
  color: #896d3d;
  font-weight: bold;
  background-color: #fcf8e4;
  border: solid 2px #f9ebcd;
  border-radius: 5px;
  &:first-letter { text-transform: uppercase };
}

.avatar {
  float: left;
  img {
    border-radius: 100%;
  }
}

.signout {
  margin-left: 8px;
  float: right;
  a {
    color: #1d3e5d;
    font-weight: bold;
  }
}